{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
    <div class="page">
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <a class="navbar-brand" href=".">API Service</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        {% comment %} <a class="nav-link" href="{% url 'home' %}">HOME</a> {% endcomment %}
										<p class="nav-link">API Router</p>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} <a class="nav-link" href="{% url 'scrapper' %}">SCRAPPER</a> {% endcomment %}
										<p class="nav-link">API Docs</p>
                                    </li>
									<li class="nav-item">
                                        <a class="nav-link" href="https://gitlab.com/yauheni_kuleuski/simple-api-web-service">Source code</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <section id="scrapper" class="scrapper">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>

        <section id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="footer__text">React / Django / RESTful API | All right reserved | 2020</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    </div>
    </body>
</html>