{% extends "base.html" %}
{% block title %}Simple API service main menu{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p class="h1">Welcome to Django REST API service</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Front/Back end practice</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Technological stack:</h5>
                    <p class="card-text">HTML, CSS => Bootstrap</p>
                    <p class="card-text">JS => React</p>
                    <p class="card-text">Python => Django</p>
                    <p class="card-text">API => DRF</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">QA Automation practice</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Technological stack:</h5>
                    <p class="card-text">Unittests</p>
                    <p class="card-text">Automation tests</p>
                    <p class="card-text">API Testing</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">DevOps practice</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Technological stack:</h5>
                    <p class="card-text">CI => Jenkins</p>
                    <p class="card-text">Docker and Docker Compose</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>All API functionality you can get at <a href="http://37.228.116.193/api/">REST API Router</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
{% endblock %}